body {
    font-family: "Cormorant", serif;
    padding-top: 70px; /* Space for the fixed navbar */
}
.navbar {
    background-color: #252422;
}
.navbar-brand {
    display: flex;
    align-items: center;
    color: #FFFCF2 !important;
    font-size: 1.5rem;
}
.navbar-brand img {
    border-radius: 10px;
    height: 50px;
    margin-right: 10px;
}
.navbar-nav .nav-link {
    color: #FFFCF2 !important;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    color: #eb5e28 !important;
}
.search-bar {
    width: 100%;
    max-width: 400px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px 0;
}
.section {
    background-color: #252422;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #ffffff;
    text-align: center;
}
.section h2 {
    color: #eb5e28;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.section a {
    display: block;
    color: #CCC5B9;
    background-color: #403D39;
    text-decoration: none;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.section a:hover {
    background-color: #eb5e28;
    color: #ffffff;
}

.footer {
    border-top: 1px solid #6c757d; /* Subtle border for a clean look */
}

.footer p {
    font-size: 0.9rem; /* Smaller text for the footer */
    color: #bdbdbd; /* Light gray text color */
    margin: 0;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #960303;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #882121;
}
input[type="text"], input[type="number"], input[type="file"], input[type="url"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
}